<div class="container mt-4">
  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    @if(product){
    <div class="row g-0">
      <div class="col-md-4 d-flex flex-column align-items-center">
        <div>
          <img
          class="product-image"
          src="{{ product.images[0] }}"
          alt="{{ product.title }}"
          />
        </div>
        <div>
          <button class="btn btn-secondary mt-3 p-1" (click)="viewImages(product.id)">
            More images
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ product.title }}</h2>
          <p class="card-text"><strong>Brand:</strong> {{ product.brand }}</p>
          <p class="card-text">
            <strong>Category:</strong> {{ product.category }}
          </p>
          <!-- <p class="card-text">
            <strong>Price:</strong> {{ product.price | currency : "USD" }}
          </p> -->
          <p class="card-text">
            <strong>{{ product.price }}$</strong>
            <small class="text-muted mx-2"
              >{{ product.discountPercentage }}% off</small
            >
          </p>
          <p class="card-text">
            <strong>Stock:</strong> {{ product.stock}}
          </p>
          <p class="card-text">
            <strong>Weight:</strong> {{ product.weight }}
          </p>
          <p class="card-text">
            <strong>Warranty Information:</strong> {{ product.warrantyInformation }}
          </p>
          <p class="card-text">
            <strong>Shipping Information:</strong> {{ product.shippingInformation }}
          </p>
          <p class="card-text">
            <strong>Availability Status:</strong> {{ product.availabilityStatus }}
          </p>
          <p class="card-text">
            <strong>Description:</strong>{{ product.description }}
          </p>
          <div>
            <label for="">
              Quantity
              <input [(ngModel)]="quantity">
            </label>
            <button
              type="button"
              class="btn btn-secondary mt-3 w-100"
              (click)="addToCart()"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  }
  </div>
  
</div>
