<div class="container mt-4">
  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    @if(product){
    <div class="row g-0">
      <div class="col-md-4 d-flex flex-column align-items-center">
        <!-- <div>
          <img
          class="product-image"
          src="{{ product.images[0] }}"
          alt="{{ product.title }}"
          />
        </div> -->
        <!--  -->
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner product-image" *ngFor="let image of product.images; let i = index">
            <div class="carousel-item active">
              <img src="{{ product.images[i] }}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!--  -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ product.title }}</h2>
          <p class="card-text"><strong>Brand:</strong> {{ product.brand }}</p>
          <p class="card-text">
            <strong>Category:</strong> {{ product.category }}
          </p>
          <!-- <p class="card-text">
            <strong>Price:</strong> {{ product.price | currency : "USD" }}
          </p> -->
          <p class="card-text">
            <strong>{{ product.price }}$</strong>
            <small class="text-muted mx-2"
              >{{ product.discountPercentage }}% off</small
            >
          </p>
          <p class="card-text">
            <strong>Stock:</strong> {{ product.stock}}
          </p>
          <p class="card-text">
            <strong>Weight:</strong> {{ product.weight }}
          </p>
          <p class="card-text">
            <strong>Warranty Information:</strong> {{ product.warrantyInformation }}
          </p>
          <p class="card-text">
            <strong>Shipping Information:</strong> {{ product.shippingInformation }}
          </p>
          <p class="card-text">
            <strong>Availability Status:</strong> {{ product.availabilityStatus }}
          </p>
          <p class="card-text">
            <strong>Description:</strong>{{ product.description }}
          </p>
          <div>
            <label for="">
              Quantity
              <input [(ngModel)]="product.quantity" type="number" min="1" class = "text-center">
            </label>
            <button
              type="button"
              class="btn btn-secondary mt-3 w-100"
              (click)="addToCart()"
            >
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  }
  </div>
  
</div>
