.fa {
  font-size: 40px;
  color: #000;
}

.fa:hover {
  color: #515151;
  cursor: pointer;
  transition: 0.3s ease;
}
/*  */
.total-cart-count {
  background-color: gold;
  width: 25px;
  height: 25px;
}
